In [1]:
import pandas as pd

In [2]:
spotify_artist_info = pd.read_csv('assets/featured_Spotify_artist_info.csv')

In [4]:
spotify_artist_info.head()

,dates,ids,names,monthly_listeners,popularity,followers,genres,first_release,last_release,num_releases,num_tracks,playlists_found,feat_track_ids
0,2024-04-01,01XYiBYaoMJcNhPokrg0l0,stayc,3049521.0,63,1782552,"k-pop, k-pop girl group",2020,2024,14,2,K-Pop ON! (온),0y0uzuB1HxljAY2j0tLETp
1,2024-04-01,099toTcKJoywTosZr2hHjy,langhorne slim,1060777.0,51,163686,"anti-folk, indie folk, modern folk rock, new a...",2008,2023,20,3,Sunrise Run,40rjypnguxfhPy4Bbv5SWc
2,2024-04-01,09HhJFJqYmvCCwQwj47Ci4,hontoni,119199.0,35,60,NaN,2021,2024,14,1,Meditate to the Sounds of Nature,7CIj6Jk5vKNEgxGNRoAWbC
3,2024-04-01,09rAM5GlzBVG3FODKTlrRu,d'verti,46999.0,29,42,NaN,2022,2024,3,1,Meditate to the Sounds of Nature,"6O9l7A57SQ4Z5VwSKyu0UH, 1y5VTWasp7vgqUxjaKUK0B"
4,2024-04-01,0BvkDsjIUla7X0k6CSWh1I,luke bryan,10460890.0,76,8487512,"contemporary country, country, country road, m...",2007,2023,20,6,Sunrise Run,386DfI5sZ0eJi1i6SZVqLw

In [20]:
spotify_artist_info.dtypes

dates                 object
ids                   object
names                 object
monthly_listeners    float64
popularity             int64
followers              int64
genres                object
first_release          int64
last_release           int64
num_releases           int64
num_tracks             int64
playlists_found       object
feat_track_ids        object
dtype: object

In [26]:
spotify_artist_info[spotify_artist_info.isnull()]

,dates,ids,names,monthly_listeners,popularity,followers,genres,first_release,last_release,num_releases,num_tracks,playlists_found,feat_track_ids
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN